/* Dashboard */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/rajarata.jpeg) ;
    background-size: cover;
    height: 90vh;
}

.dashboard-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 150px;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}